.main-note
{
    width: 960px;
    height: 960px;
    margin: 0 auto;
    background-image: url(../../images/message-board-images/wall.gif);
}
.note
{
    width: 235px;
    cursor: move;
    display: none;
    position: absolute;
}
.nhead
{
    width: 175px;
    height: 23px;
    padding: 45px 30px 0px 30px;
    font-size: 12px;
}
.nbody
{
    width: 190px;
    height: auto;
    padding: 5px 15px 5px 30px;
    font-size:12px;
}
.nfoot
{
    width: 185px;
    height: 32px;
    padding: 30px 20px 10px 30px;
    font-size:12px;
}
.moodpic
{
    width: 20px;
    height: 20px;
    float: left;
}
.moodpic img
{
    width: 20px;
    height: 20px;
}

.username
{
    text-align: right;
    float: right;
}

.notes, .notes:before, .notes:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}